<!DOCTYPE html>
<html>
<head>
    <title>JxA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<pre>
 .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. |
| |     _____    | || |  ____  ____  | || |      __      | |
| |    |_   _|   | || | |_  _||_  _| | || |     /  \     | |
| |      | |     | || |   \ \  / /   | || |    / /\ \    | |
| |   _  | |     | || |    > `' <    | || |   / ____ \   | |
| |  | |_' |     | || |  _/ /'`\ \_  | || | _/ /    \ \_ | |
| |  `.___.'     | || | |____||____| | || ||____|  |____|| |
| |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'
</pre>
</body>
</html>